header {
	padding: 25px 15px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
}

.header-logo-list {
	margin-top: 8px;
}

.header-list {
	margin-bottom: 0;
	
	img {
		width: 65px;
		height: auto;
		border-radius: 200px;
	}
}