@import 'header';
@import 'lists';
@import 'tables';
@import 'helpers';
@import 'login';
@import 'details';
@import 'forms';

html, body {
	height: 100%;
}

body {
  background-color: #f8f8f8;
  padding-bottom: 120px;
  overflow-y: hidden;
}

ui-view {
	height: 100%;
	display: block;
	overflow: auto;
}

section {
	padding: 25px 0px;
}

h1, h2, h3, h4, h5 {
	margin-top: 0;
}

//test
.test {
	background-color: hotpink !important;
	opacity: 1.0 !important;
}