<section>
	<div class="container">
		<div class="col-xs-12 col-sm-6">
			<h2 ng-repeat="artist in artist">{{ artist.name }}</h2>
			<h3>{{ details.item.name }}</h3>
			<h5>Release Date: {{ releaseDate }}</h5>
			<table class="table table-list table-music-list table-tracks">
				<thead>
					<tr>
						<th>
							<h4>Tracks</h4>
						</th>	
					</tr>
				</thead>
				<tbody>
					<tr class="mouse-over" ng-repeat="track in tracks.items">
						<td>{{ $index+1 }}</td>
						<td>
							{{ track.name }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-12 col-sm-6">
			<br>
			<h5>Album Artwork</h5>
			<ul class="inline-list list-plain">
				<li><img ng-src="{{ details.item.images[1].url }}" alt="{{ details.item.name }} album image"></li>
			</ul>
			
		</div>
	</div>
</section>