<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<ul class="inline-list list-plain header-list list-inline pull-left">
					<li>
						<h1>
							Music App
						</h1>
					</li>
				</ul>
				<ul class="inline-list list-plain header-list list-inline pull-right">
					<li>
						{{ header.displayName }}
					</li>
					<li ng-if="header.photoURL">
						<img ng-src="{{ header.photoURL }}" alt="">
					</li>
					<li ng-if="!header.photoURL">
						TODO: Default pic here if no google pic
					</li>
					<li>
						<a href="" ng-click="header.logout()">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>